input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.br-box{
  border-radius: 5px;
}

.bg-gray-light {
  background-color: rgb(209, 209, 209);
}

.bg-pink {
  background-color: rgb(233, 64, 210);
}
